.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 3px solid rgb(67 67 67);
}

.header-container nav {
    width: 10rem;
    display: flex;
    gap: 10px
}

.header-container nav h2 {
    margin-left: 10rem;
}

.title-container {
    text-align: center;
}

.title-container h1 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.indholdsfortegnelse ol{
    font-size: 24px;
}

.indholdsfortegnelse {
    margin-left: 7.5rem;
    margin-top: 2rem;
}